<header #header>
  <a href=""><h1>WebSite NAME</h1></a>
  <nav>
    <a>Login</a>
    <a>SingUp</a>
  </nav>
</header>
<main>
  <div class="home_img"></div>
  <section class="home_text">
    <figure>
      <img src="../assets/pexels-pixabay-355952(1) 1.svg" alt="">
      <div class="img_text">
        <h1>Have an ideia or dream.</h1>
        <p>Write down your ideia.</p>
      </div>
    </figure>
    <div class="divide"></div>
    <figure>
      <img src="../assets/pexels-pixabay-356079.svg" alt="">
      <div class="img_text">
        <h1>Aks why?</h1>
        <p>Motivate yourself bu telling the real reason you wanna do it.</p>
      </div>
    </figure>
    <div class="divide"></div>
    <figure>
      <img src="../assets/brett-jordan-cBY2CtqQ6YI-unsplash.svg" alt="">
      <div class="img_text">
        <h1>Make a plan.</h1>
        <p>Divide your goal into small ones and every day/week you will be closer to achive what you really want.</p>
      </div>
    </figure>
    <div class="divide"></div>
    <figure>
      <img src="../assets/pexels-bich-tran-669986 1.svg" alt="">
      <div class="img_text">
        <h1>Make it happend!</h1>
        <p>Get your hands dirty.</p>
      </div>
    </figure>
  </section>
  <section>
      <h1>And know you are asking here do i store all that data...</h1>
    <h2>thats when we enter in action, our website has multiple functionalatys that will help u organize and dont lose track of your goals.</h2>

    <ol>
      <li>To do list.</li>
      <li>Ideias Storage</li>
      <li><ul>
        <li>set new goals</li>
        <li>set new goals</li>
        <li>set new goals</li>
      </ul></li>
      
    </ol>
    
  </section>
  <footer>
    <h1>Ready when you are!</h1>
    <a (click)="navToView(header)" ><img src="../assets/arrow_upward_black_24dp.svg" alt=""> </a>
  </footer>
</main>